page-list-notife {
    .center {
        text-align: center;
        margin: 2px;
      }
      .colorRed {
        color: #C0504D;
        margin: 2px;
      }
      .centerColorBlue {
        color: #5981BD;
        text-align: center;
        margin: 2px;
      }
}
